body {
  margin: 2px;
  background-color: #29282E;
}

h1, h4, h5 {
color: white;
}

.icon {
border-width: 3px;
border-color: white;
}

table {
 margin: auto;
 width: 70%;
 padding: 3px;
 color: white;
}

td {
  display: block;
}


.img-brand {
 max-height: 300px;
 max-width: 1000px;
}
