<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}"/>
    <title>Регистрация</title>
    <style>
   li {
   list-style-type: none;
    color: red;
   }
    </style>

<body>
<div class="container fluid mt-3 px-0 text-center">
    <h1 class="text-center align-top p-2">Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit" class="btn btn-light">Зарегистрироваться</button>
        </p>
    </form>
    <div class="container fluid mt-3 px-0 text-center">
        <p>
            <a href="/account/login/">
            <button type="button" class="btn btn-outline-secondary text-white">Уже есть аккаунт?</button>
        </a>
        </p>
    </div>
</div>
</body>
</html>