{% load static %}

<section class="brands_list">
    <div class="container">
        <div class="row">
            {% for brand in brand_info %}
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-3">
                <div class="img_list">
                    <a href="/brand?brand_name={{brand.0}}">
                        <img src="{% static brand.1 %}" class="img_list1 rounded">
                    </a>
                </div>
                <p class="col-12 col-md-12 col-lg-6 col-xl-6 mt-0 mb-0 fs-4 text-light">
                    {{brand.0}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>