{% load static %}

<footer>
    <div class="fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                <a class="icon_footer" href="#">
                    <img src="{% static 'main/image/icon/BackIcon.png' %}" height="39px" width="auto">
                </a>
                    </div>
                <div class="col-2">
                <a class="icon_footer" href="#">
                    <img src="{% static 'main/image/icon/TasteIconInactive.png' %}" height="39px" width="auto">
                </a>
                    </div>
                <div class="col-2">
                <a class="icon_footer" href="#">
                    <img src="{% static 'main/image/icon/MixIconInactive.png' %}" height="39px" width="auto">
                </a>
                    </div>
                <div class="col-2">
                <a class="icon_footer" href="#">
                    <img src="{% static 'main/image/icon/FilterIcon.png' %}" height="39px" width="auto">
                </a>
                    </div>
            </div>
        </div>
    </div>
</footer>

<script src="script.js"></script>