{% load static %}

<div class="container" style="height: 50px"></div>
<footer>
  <div class="fixed-bottom pt-1 pb-0">
    <div class="container-fluid">
      <div class="row p-0 m-0">
        <div class="col-3 m-auto p-0 text-center">
            <a class="icon_footer" {% if request.resolver_match.view_name == 'home' %} {% else %} href="{% url 'home' %}" {% endif %}>
            <img {% if request.resolver_match.view_name == 'home' %} src="{% static 'main/image/icon/BrandIconActive.png' %}" {% else %} src="{% static 'main/image/icon/BrandIconInactive.png' %}" {% endif %} height="39px" width="auto">
          <h4 class="text-xs col-12 text-white-50 lh-1 mt-0 mb-1 text-nowrap text-truncate">
                    Бренды
                </h4>
          </a>
        </div>
        <div class="col-3 m-auto p-0 text-center">
          <a class="icon_footer" {% if request.resolver_match.view_name == 'brand' %} {% else %} href="{% url 'brand' %}" {% endif %}>
            <img {% if request.resolver_match.view_name == 'brand' %} src="{% static 'main/image/icon/TasteIconActive.png' %}" {% else %} src="{% static 'main/image/icon/TasteIconInactive.png' %}" {% endif %} height="39px" width="auto">
          <h4 class="text-xs col-12 text-white-50 lh-1 mt-0 mb-1 text-nowrap text-truncate">
                    Вкусы
                </h4>
          </a>
        </div>
        <div class="col-3 m-auto p-0 text-center">
            <a class="icon_footer" {% if request.resolver_match.view_name == 'mix' %} {% else %} href="{% url 'mix' %}" {% endif %}>
            <img {% if request.resolver_match.view_name == 'mix' %} src="{% static 'main/image/icon/MixIconActive.png' %}" {% else %} src="{% static 'main/image/icon/MixIconInactive.png' %}" {% endif %} height="39px" width="auto">
          <h4 class="text-xs col-12 text-white-50 lh-1 mt-0 mb-1 text-nowrap text-truncate">
                    Миксы
                </h4>
          </a>
        </div>
        <div class="col-3 m-auto p-0 text-center">
          <a class="icon_footer" href="#">
            <img src="{% static 'main/image/icon/FilterIcon.png' %}" height="39px" width="auto">
          <h4 class="text-xs col-12 text-white-50 lh-1 mt-0 mb-1 text-nowrap text-truncate">
                    Обо мне
                </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="script.js"></script>