{% load static %}

<div class="container" style="height: 50px"></div>
<header>
    <div class="fixed-top">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar">
                    <button aria-controls="offcanvasExample" aria-expanded="false" aria-label="Переключатель навигации"
                            class="btn btn"
                            data-bs-target="#offcanvasExample"
                            data-bs-toggle="offcanvas" style="background-color: #29282E" type="button">
                        <img src="{% static 'main/image/icon/MenuIcon(burger).png' %}" height="39px" width="auto">
                    </button>
                    <div>
                        <h1 class="text-center header-text">{{page}}</h1>
                    </div>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'main/image/icon/FindIcon.png' %}" height="39px" width="auto">
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>