<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
    <title>MixMe</title>
</head>

<body>
    <header>
        <div class="container-flex">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
                    <a href="/sidebar">
                        <img src="static/main/image/icon/MenuIcon(burger).png" class="header_image">
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-md-8 col-lg-9 col-xl-9   my-auto">
                    <h1 class="header-text">Бренды</h1>
                </div>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
                    <img src="static/main/image/icon/FindIcon.png" class="header_image">
                </div>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
                    <img src="static/main/image/icon/FilterIcon.png" class="header_image">
                </div>
            </div>
        </div>
    </header>

<!--    разное окно при разном масштабе <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark mb-4">-->

<!--    <section class="list">-->
<!--        <div class="container">-->
<!--            {% for brand in brand_info %}-->
<!--            <div class="row">-->
<!--                <div class="col-12 col-md-12 col-lg-12 col-xl-12">-->
<!--                    <a href="/brand/{{brand.0}}">-->
<!--                        <img src="{% static brand.1 %}" class="img-brand">-->
<!--                    </a>-->
<!--                    <h5 class="text-left">-->
<!--                        {{brand.0}}-->
<!--                    </h5>-->

<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </section>-->

<!--    <div class="container-fluid">-->
<!--        <table>-->
<!--            <th>-->
<!--                <h4>БРЕНДЫ</h4>-->
<!--            </th>-->
<!--            {% for brand in brand_info %}-->
<!--            <tr onclick="window.location='brand/{{brand.0}}'">-->
<!--                <td>-->
<!--                    <img src="{% static brand.1 %}" width="500" height="150">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <h5> {{brand.0}} </h5>-->
<!--                </td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
<!--    </div>-->


    <footer>

    </footer>

<script src="script.js"></script>
</body>

</html>