<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="ru">

{% include 'main/head.html' %}

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
{% include 'main/header.html' %}
<div class="row my-5 mx-3 pt-1">
<p class="fs-5 my-3 mb-0 pb-0 text-light text-center">Да, пока страница пустая</p>
<p class="fs-5 my-3 mb-0 pb-0 text-light text-center">Вы сходите, забейте себе новый кальян</p>
<p class="fs-5 my-3 mb-0 pb-0 text-light text-center">А мы займемся наполнением страницы</p>
</div>

{% include 'main/footer.html' %}
{% include 'main/sidebar.html' %}


</body>

</html>