{% load static %}


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel" style="background-color: #29282E">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Меню</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <a href="/account/1" class="link-light col 12">
                    <img src="{% static 'main/image/user_image/default_user.png' %}"
                         alt="Пользователь"
                         style="width:auto; height: 50px">
                    e-mail пользователя
            </a>
        </div>
        <div>
            <ul>
                <li><a href="#" class="link-light">Список покупок</a></li>
                <li><a href="/inform_app" class="link-light">О приложении</a></li>
                <li><a href="#" class="link-light">Выход</a></li>
            </ul>
        </div>
    </div>
</div>

