{% load static %}

<section class="taste_info">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 col-xl-6">

                <img src="{% static taste_info.5 %}" class="img-fluid rounded-3 mx-auto">
            </div>
            <p class="col-12 col-md-12 col-lg-6 col-xl-6 fs-5 text-light">
                Бренд - {{taste_info.3}}
            </p>
          <p class="col-12 col-md-12 col-lg-6 col-xl-6 fs-6 text-light">
                Крепость - {{taste_info.2}}
            </p>
            <hr class="dropdown-divider text-light">
        </div>
    </div>
    </div>

</section>
