{% load static %}

<section class="taste_info">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 col-xl-6">

                <img src="{% static taste_info.4 %}" class="img-fluid">
            </div>
            <h5 class="col-12 col-md-12 col-lg-6 col-xl-6">
                Бренд - {{taste_info.3}}
            </h5>
          <h5 class="col-12 col-md-12 col-lg-6 col-xl-6">
                Крепость - {{taste_info.2}}
            </h5>
        </div>
    </div>
    </div>

</section>
