<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="ru">

{% include 'main/head.html' %}

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
{% include 'main/header.html' %}

<section class="tastes_list">
    <div class="container">
        <div class="row">
            {% for tastes in tastes_list %}
            <div class="col-6 col-md-6 col-lg-3 col-xl-3 mb-3">
                <div>
                    <a href="/taste/{{tastes.0}}">
                        <img src="{% static tastes.4 %}" class="img-fluid rounded">
                    </a>
                </div>
                <p class="fs-6 col-12 text-light lh-1 mt-1 mb-0 text-nowrap text-truncate" >
                {{tastes.1}}
                </p>
                <p class="fs-6 col-12 text-white-50 lh-1 mt-0 mb-1 text-nowrap text-truncate">
                    {{tastes.5}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'main/footer.html' %}
{% include 'main/sidebar.html' %}

</body>

</html>